.MyPage2_L {
  padding: 50px;
  box-sizing: border-box;
  display: flex;
  justify-self: center;
  align-items: center;
  width: 30%;
  height: 100%;
  background-color: rgba(179, 179, 179, 0.555);
  position: relative;
}
.MyPage2_R {
  width: 70%;
  height: 100%;
  background-color: rgba(54, 55, 54, 0.633);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.MyPage2_Header {
  width: 100%;
  height: 10%;
}
.MyPage2_blank {
  width: 10%;
  height: 100%;
}
.MyPage2_Container {
  width: 90%;
  height: 80%;
  display: flex;
}
.MyPage2_R_row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 24%;
  /* background-color: aqua; */
}
.MyPage2_R_row_Box {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 14%;
  height: 100%;
  /* background-color: aliceblue; */
}
.MyPage2_R_row_Box1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 14%;
  height: 100%;
  /* background-color: aliceblue; */
}
.MyPage2_charName {
  font-size: 30px;
  position: absolute;
  left: 35%;
  width: 30%;
  height: 10%;
  bottom: 70px;
  /* background-color: blue; */
}
.MyPage2_btn_box {
  position: absolute;
  left: 28%;
  bottom: 20px;
}
.MyPage2_btn {
  border-radius: 10px;
  font-family: "JalnanGothic";
  width: 200px;
  height: 50px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s;
}

.MyPage2_btn:hover {
  background-color: blueviolet;
  color: white;
}

.MyPage2_gray {
  filter: grayscale(100%);
  transition: all 0.5s;
}
