
.EndingContainer {
  font-family: "DungGeunMo";
  z-index: 50;
  background-color: rgb(1, 46, 46);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

.end_circle2 {
  z-index: 3;
  top: 60px;
  left: 680px;
  width: 500px;
  height: 500px;
  position: absolute;
  clip-path: inset(100% 0% 0% 0%);
}

.scoreRowData {
  margin-top: 50px;
  margin-left: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@keyframes circle_fadein {
  0% {
    clip-path: inset(100% 0% 0% 0%);
  }

  100% {
    clip-path: inset(0% 0% 0% 0%);
  }
}


.EndResultRow_Rate {
  font-family: "DungGeunMo";
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20%;
  padding: 10px;
  box-sizing: border-box;
}
.EndResultLeftBox {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 40%;
  height: 100%;
}
.EndResultMiddleBox {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 40%;
  height: 100%;
}
.EndBlank {
  width: 5%;
  height: 100%;
}
.EndResultRightBox {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 20%;
  height: 100%;
}

.EndBtnBox {
  font-family: "DungGeunMo";
  border-radius: 25px;
  position: absolute;
  /* background-color: white; */
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 300px;
  height: 200px;
  left: 1100px;
  bottom: 50px;
}
.EndBtn {
  border-radius: 25px;
  /* background-color: white; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: white;
  background-color: black;
  display: flex;
  width: 90%;
  height: 70px;
  transition: all 0.2s ease;
}
.EndBtn:hover {
  background-color: burlywood;
  color: black;
}
.EndBtn:active {
  background-color: navy;
  color: white;
}
