.ShowSetting_Container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ShowSetting_Top_blank {
  width: 100%;
  height: 10%;
}
.ShowSetting_Box {
  display: flex;
  width: 100%;
  height: 90%;
  /* background-color: rgba(117, 115, 115, 0.637); */
}
.ShowSetting_Box_Left {
  /* background-color: aliceblue; */
  width: 50%;
  height: 100%;
}
.ShowSetting_Box_Right {
  width: 50%;
  height: 100%;
}
.ShowSetting_Box_Right_Top {
  width: 100%;
  height: 50%;
}
.ShowSetting_Box_Right_Bottom {
  /* background-color: #fff; */
  width: 100%;
  height: 50%;
}
.ShowSetting_Box_Top {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 40px;
  /* background-color: rgb(19, 69, 112); */
  width: 100%;
  height: 100px;
}
.ShowSetting_Box_Bottom {
  width: 100%;
  height: 70%;
}
.ShowSetting_Box_Bottom_for_key {
  display: flex;

  justify-content: center;
  width: 100%;
  height: 20%;
}
.ShowSetting_Box_Bottom_return_comment {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 10%;
}

.ShowSetting_Box_Detail {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-sizing: border-box;
  width: 100%;
  height: 65px;
}
.ShowSetting_Box_Detail_keySetting {
  color: black;

  cursor: pointer;
  margin: 1px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 80px;
  background-color: white;
}
.ShowSetting_Box_Detail_keySetting:hover {
  background-color: skyblue;
}
.ShowSetting_Box_Detail_Row {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  border: 1px solid white;
  color: white;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #1b1b1bc5;
  width: 100%;
  height: 100%;
}
.ShowSetting_Arrow {
  border: 1px solid black;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 40px;
  /* background-color: rgb(255, 255, 255); */
  border-radius: 25px;
}
.ShowSetting_Arrow:hover {
  color: rgb(42, 42, 43);
  background-color: white;
}
.ShowSetting_Bar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 100%;
}
.ShowSetting_Box_Str {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 100%;
}
.ShowSetting_Box_Place {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 25%;
  height: 100%;
}
.ShowSetting_Keyboard:hover {
  transition: all 0.2s ease;
  color: rgb(42, 42, 43);
  background-color: white;
}
.Setting_BackHome {
  position: absolute;

  bottom: 50px;
  width: 200px;
  height: 50px;
  left: 850px;
}
.Setting_BackBtn {
  cursor: pointer;
  width: 100%;
  height: 100%;
  font-family: "DungGeunMo";
}
.Setting_BackBtn:hover {
  transition: all 0.2s;
  background-color: navy;
  color: white;
}
.Setting_Btn {
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  height: 80%;
}
