.MobileApp {
  z-index: 2;
  position: absolute;
  left: 0px;
  top: 0px;
  margin: 0px;
  padding: 0px;
  min-width: 400px;
  width: 100vw;
  font-family: "Freesentation-9Black";
  background-color: rgb(255, 255, 255);
  cursor: context-menu;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
html {
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}
