.frontContainer {
  width: 100%;
  height: 100vh;
}
.frontBox {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Front_container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  font-family: "Freesentation-9Black";
}
